/*тут важен порядок!*/
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	/*src: local("PT Sans"), url("../fonts/ptsans-400.woff2") format("woff2");*/
	font-display: swap;
}
 
@font-face {
	font-family: "PT Sans";
	font-style:  normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

/*общий шрифт*/
body {
	font-family: 'PT Sans', sans-serif;
	font-size: 22px;
	line-height: 26px;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	background: #E5E5E5;
	height: 100%;
}

.body_container {
	max-width: 1200px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);

	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100vh;
}

/*--Скрытый элемент--*/
.visually-hidden {
	display: none;
}


/*Шрифт заголовков*/
.h2 {
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	text-align: center;
}

.h3 {
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
}

/*Шрифты <p> под заголовками*/
.h2_p {
	font-size: 22px;
	line-height: 26px;
	color: #333333;
	text-align: center;
	font-weight: normal;

}
.h3_p {
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	text-align: center;
	font-weight: normal;
}

/*Назначение вертикальных отступов*/
.h2, .h2_p {
	margin-block-start: 15px;
	margin-block-end: 15px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.h3, .h3_p {
	margin-block-start: 15px;
	margin-block-end: 15px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.search .h2_p {
	margin-block-end: 56px;
}


/*содержимое элемента в центре */
.center {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	/*flex-grow: 1;*/
}



/*-------- ХЕДЕР --------*/
.navigation {
	display: flex;
}

.img_logo {
	position: absolute;

	top: 0%;
	margin-left: 70px;
	width: 139px;
	height: 70px;
}
/*расположение левого и правого меню*/
.main-header ul { 
	list-style: none;
	margin-block-start: 0px;
	margin-block-end: 0px;
	padding-inline-start: 0px;
}

ul.navigation_main_menu {
	margin-left: 239px;
}

ul.navigation_right_menu {
	margin-right: 70px;
	margin-left: auto;
}



/*ссылки в навигационном меню1*/
.navigation_main_menu {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	padding: 0;
	margin: 0;
	max-width: 600px;
}
.navigation_main_menu .navigation_item {
	margin: 0px 17px;
}
.navigation_main_menu .navigation_link{
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	color: black;
	text-decoration: none;

	display: block;
	padding: 20px 0px 18px 0px;
	
}
.navigation_main_menu .navigation_link_current {
	border-bottom: 2px solid #756257;
	
}

/*ссылки в навигационном меню 2*/
.navigation_right_menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
}
.navigation_link_div {
	width: 42px;
	height: 42px;
	background-position: center;
	background-repeat: no-repeat;
}
.navigation_link_div.top_search {
	background-image: url(../img/search.svg);
}
/*---  <3  ---*/
.navigation_link_div.like {
	background-image: url(../img/favorite.svg);
}

.navigation_link_div output {
	font-weight: normal;
	font-size: 10px;
	line-height: 13px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	color: white;
	border-radius: 50%;
	background-color: #7DB54F;
	width: 20px;
	height: 20px;
	margin-right: -3px;
	margin-top: 6px;
	float: right;
}

/*Кнопкa в меню2*/
.navigation_item .buttom_brown_div {
	margin-left: 20px;
	height: 37px;
	width: 160px;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: white;
	border-radius: 4px;
}





/*-------- МЕЙН --------*/
.main_index {
	flex-grow: 1;
}
.first_screen1 {
	background-image: url("../img/index-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #333333;
}
.welcome {
	padding-top: 51px;
	padding-bottom: 25px;
	text-align: center;
}
.welcome img {
	max-width: 458px;
	width: 100%;
	height: auto;
	vertical-align: middle;
}
.divider {
	height: 57px;
	background-image: url("../img/divider.svg");
	background-repeat: no-repeat;
	background-position: center bottom;
}
/*---------------------------*/
.first_screen2 .h2_p {
	line-height: 36px;
}
.first_screen2 {
	/*min-height: 282px;*/
	padding: 48px 0px 66px 0px;
}

/*-----------Преимущества--------*/
/* (список выровнен для удобства просмотра) */
/*.benefits_content {
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}*/
.benefits_content {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(4, 384px);
}

/*использовальсь раньше для дисплей флекс
.benefits_content_item {
	width: 33%;
	min-height: 384px;
	flex-grow: 1;
}
.benefits_content_item_duble {
	width: 63%;
	min-height: 384px;
	flex-grow: 2;
}*/

.duble_one {
	background-image: url(../img/photo-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	grid-column-start: 2;
	grid-column-end: 4;
}

.duble_two {
	background-image: url(../img/photo-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	grid-column-start: 1;
	grid-column-end: 3;
}
.first_line_first_slot,
.three_line_three_slot {
	background-color: #83B3D3;
	color: #FFFFFF;;
}
.first_line_first_slot .h3_p,
.three_line_three_slot .h3_p {
	max-width: 220px;
	color: #FFFFFF;;
}
.two_line_first_slot,
.two_line_three_slot,
.four_line_first_slot,
.four_line_three_slot {
	background-color: rgba(131, 179, 211, 0.12);
}

.four_line_first_slot .h3_p,
.four_line_two_slot .h3_p,
.four_line_three_slot .h3_p{
	max-width: 250px;
}

.four_line_two_slot {
	background-color: rgba(131, 179, 211, 0.2);
}


.two_line_first_slot .h3_p,
.two_line_two_slot .h3_p,
.two_line_three_slot .h3_p {
	max-width: 250px;
	margin-block-start: 10px;
	margin-block-end: 10px;
}

.benefits_content_item_img {
	height: 95px;
	width: 95px;
	background-position: center;
	background-repeat: no-repeat;
}
.two_line_first_slot .benefits_content_item_img {
	background-image: url(../img/hause.svg);
}

.two_line_two_slot .benefits_content_item_img {
	background-image: url(../img/eat.svg);
}

.two_line_three_slot .benefits_content_item_img {
	background-image: url(../img/present.svg);
}


/*убрать точки и отступы из списка*/
.benefits ul, .main-footer ul { 
	list-style: none;
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
}

/*--------------Поиск гостиницы-----------*/
.search {
	/*min-height: 417px;*/
	padding: 76px 0px 93px 0px;
}
.buttom_brown {
	font-weight: bold;
	font-size: 20px;
	line-height: 36px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	display: block;
	width: 100%;
}
.buttom_brown .buttom_brown_div {
	height: 60px;
	width: 98%;
	max-width: 575px;
	margin: 0 auto;
}
.buttom_brown_div {
	background: #756257;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center

	
}
/*анимация для коричневых кнопок*/
.buttom_brown_div:hover {
	background: #615048;
}
.buttom_brown_div:focus {
	background: #615048;
	/*border: 3px solid #83B3D3; используются тени для того что бы контент не уезжал*/
	outline: none;
	box-shadow: 0 0 0 3px #83B3D3;
}
.buttom_brown_div:active{
	background: #615048;
	color: rgba(255, 255, 255, 0.3);
}
/*-------------------Рассылка-----------------*/
.subscribe {
	/*min-height: 411px; убрано для вывнивания отступов паддингом*/
	background-image: url("../img/background2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	background-color: darkcyan;
	padding: 94px 0px;
	flex-grow: 1;
}
.subscribe .h2_p {
	margin-block-start: 0px;
	margin-block-end: 46px;
	color: white;
}

.subscribe .h2 {
	margin-block-start: 0px;
	margin-block-end: 29px;
}

.email {
	display: flex; /*схлопывает input и button*/
	align-content: center;
	justify-content: center;
	width: 98%;
}

.email input[type="email"] {
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 26px;
	color: #000000;
	background: #F2F2F2;
	border: none;
	border-radius: 10px 0px 0px 10px;
	height: 60px;
	padding: 0px 22px 0px 19px;
	cursor: default;
	max-width: 600px;
	flex-grow: 1;
	margin-right: 0px;
}

.email button[type="submit"] {
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	background: #83B3D3;
	border: none;
	border-radius: 0px 10px 10px 0px;
	height: 60px;
	min-width: 200px;
	margin-left: 0px;
	flex-shrink:0;
}





/*-------- ФУТЕР --------*/
.main-footer {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	min-height: 120px;
	align-content: center;
	flex-direction: row;
}

.footer_center {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

/*-------------Соцсети------------*/
.social_list {
	display: flex;
	flex-direction: row;
}
.social_div {
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
}
.twitter .social_div {
	background-image: url("../img/social-twitter.svg");
}
.facebook .social_div {
	background-image: url("../img/social-facebook.svg");
}
.youtube .social_div {
	background-image: url("../img/social-youtube.svg");
}

/*---------------Контакты----------------*/
.contacts{
	width: 100%;
	max-width: 720px;
}
.contacts_phone {
	font-size: 40px;
	line-height: 40px;
	color: #000000;
	font-style: normal;
	text-decoration: none;
	padding: 15px;
}
.contacts_phone:hover {
	color: #756257;
}
.contacts_phone:focus {
	color: #756257;
	border: 3px solid #83B3D3;
	border-radius: 10px;
}
.contacts_phone:active {
	color: #756257;
	opacity: 0.3;
}
/*------------Логотип htmlacademy-----------*/
.htmlacademy_logo_link_img {
	width: 120px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../img/logo-htmlacademy.svg");
}