/*тут важен порядок!*/
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	/*src: local("PT Sans"), url("../fonts/ptsans-400.woff2") format("woff2");*/
	font-display: swap;
}
 
@font-face {
	font-family: "PT Sans";
	font-style:  normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

/*общий шрифт*/
body {
	font-family: 'PT Sans', sans-serif;
	font-size: 22px;
	line-height: 26px;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	background: #E5E5E5;
	height: 100%;
}

.body_container {
	max-width: 1200px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);

	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100vh;
}

/*--Скрытый элемент--*/
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}


/*Шрифт заголовков*/
.h2 {
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	text-align: center;
}

.h3 {
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	text-align: center;
}

/*Шрифты <p> под заголовками*/
.h2_p {
	font-size: 22px;
	line-height: 26px;
	color: #333333;
	text-align: center;
	font-weight: normal;

}
.h3_p {
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	text-align: center;
	font-weight: normal;
}

/*Назначение вертикальных отступов*/
.h2, .h2_p {
	margin-block-start: 15px;
	margin-block-end: 15px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.h3, .h3_p {
	margin-block-start: 15px;
	margin-block-end: 15px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.search .h2_p {
	margin-block-end: 56px;
}


/*содержимое элемента в центре */
.center {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}



/*-------- ХЕДЕР --------*/
.navigation {
	display: flex;
}

.img_logo {
	position: absolute;

	top: 0%;
	margin-left: 70px;
	width: 139px;
	height: 70px;
}
/*расположение левого и правого меню*/
.main-header ul { 
	list-style: none;
	margin-block-start: 0px;
	margin-block-end: 0px;
	padding-inline-start: 0px;
}

ul.navigation_main_menu {
	margin-left: 239px;
}

ul.navigation_right_menu {
	margin-right: 70px;
	margin-left: auto;
}
.navigation_link{
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	color: black;
	text-decoration: none;
	position: relative;
	display: block;
}

/*анимация для ссылок*/
.navigation_link:hover{
	color: #756257;
}

.navigation_link:hover svg{
	fill: #756257;
}

.navigation_link:active{
	color:  rgba(117, 98, 87, 0.3);;
}

.navigation_link:active svg{
	fill: #756257;
	opacity: 0.3;
}

/*ссылки в навигационном меню1*/
.navigation_main_menu {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	padding: 0;
	margin: 0;
	max-width: 600px;
}

.navigation_main_menu .navigation_link{
	padding: 20px 17px;
	
}
.navigation_link_current::before {
	position: absolute;
	right: 17px;
	left: 17px;
	bottom: 0;
	height: 2px;
	background-color: #615048;
	content: '';
}

/*ссылки в навигационном меню 2*/
.navigation_right_menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-evenly;
	align-items: center;
	padding: 0;
	margin: 0;
}

.navigation_right_menu .navigation_link {
	padding: 12px 5px;
}
.navigation_right_menu .navigation_item {
	margin: 0px 0px;
}

.navigation_link_div {
	min-width: 32px;
	min-height: 42px;
	position: relative;
}
.navigation_link_div svg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	fill: #000000;	
}
/*---  <3  ---*/

.navigation_link_div output {
	font-weight: normal;
	font-size: 10px;
	line-height: 13px;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;

	color: white;
	border-radius: 10px;
	background-color: #7DB54F;
	min-width: 20px;
	min-height: 20px;

	position: absolute;
	left: 20px;
	top: 6px;
	z-index: 1;
	/*на случий заполнея большим числом*/
	padding: 0 5px;
	box-sizing: border-box;
}

/*Кнопкa в меню2*/
.navigation_item .buttom_brown_div {
	margin-left: 20px;
	height: 37px;
	width: 160px;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: white;
	border-radius: 4px;
	outline: none;
}





/*-------- МЕЙН --------*/
.main_index {
	flex-grow: 1;
}
.first_screen1 {
	background-image: url("../img/index-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #333333;
}
.welcome {
	padding-top: 51px;
	padding-bottom: 25px;
	text-align: center;
}
.welcome img {
	max-width: 458px;
	width: 100%;
	height: auto;
	vertical-align: middle;
}
.divider {
	height: 57px;
	background-image: url("../img/divider.svg");
	background-repeat: no-repeat;
	background-position: center bottom;
}
/*---------------------------*/
.first_screen2 .h2_p {
	line-height: 36px;
}
.first_screen2 {
	padding: 48px 0px 66px 0px;
}

/*-----------Преимущества--------*/

.benefits_content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	
	/*если флекс*/
	/*display: flex;
	flex-wrap: wrap;*/
}


.benefits_content_item {
	min-height: 236px;
	padding: 74px 0px;

	/*если флекс*/
	/*flex: 1 1 33.333333%;*/
}

.benefits_content_item_duble {
	min-height: 384px;
	
	/*если флекс*/
	/*flex: 1 1 66.666666%;*/
}

.duble_one {
	background-image: url(../img/photo-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	grid-column: 2/4;
	grid-row: 1/2;
	/*grid-column: span 2; показывает себя плохо если добвлять блок*/
}

.duble_two {
	background-image: url(../img/photo-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	grid-column: 1/3;
	grid-row: 3/4;
}
.first_line_first_slot,
.three_line_three_slot {
	background-color: #83B3D3;
	color: #FFFFFF;;
}
.first_line_first_slot .h3_p,
.three_line_three_slot .h3_p {
	max-width: 220px;
	color: #FFFFFF;;
}
.two_line_first_slot,
.two_line_three_slot,
.four_line_first_slot,
.four_line_three_slot {
	background-color: rgba(131, 179, 211, 0.12);
}

.four_line_first_slot .h3_p,
.four_line_two_slot .h3_p,
.four_line_three_slot .h3_p{
	max-width: 250px;
}

.four_line_two_slot {
	background-color: rgba(131, 179, 211, 0.2);
}


.two_line_first_slot .h3_p,
.two_line_two_slot .h3_p,
.two_line_three_slot .h3_p {
	max-width: 250px;
	margin-block-start: 10px;
	margin-block-end: 10px;
}

.benefits_content_item_img {
	height: 95px;
	width: 95px;
	background-position: center;
	background-repeat: no-repeat;
}
.two_line_first_slot .benefits_content_item_img {
	background-image: url(../img/hause.svg);
}

.two_line_two_slot .benefits_content_item_img {
	background-image: url(../img/eat.svg);
}

.two_line_three_slot .benefits_content_item_img {
	background-image: url(../img/present.svg);
}


/*убрать точки и отступы из списка*/
.benefits ul, .main-footer ul { 
	list-style: none;
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
}

/*--------------Поиск гостиницы-----------*/
.search {
	padding: 76px 0px 93px 0px;
}
.buttom_brown {
	font-weight: bold;
	font-size: 20px;
	line-height: 36px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	display: block;
	width: 98%;
	height: 60px;
	max-width: 575px;
}
.buttom_brown .buttom_brown_div {
	height: 60px;
	width: 98%;
	max-width: 575px;
	margin: 0 auto;
}
.buttom_brown_div {
	background: #756257;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	
}
/*анимация для коричневых кнопок*/
.buttom_brown_div:hover {
	background: #615048;
}
.buttom_brown_div:focus {
	background: #615048;
	/*border: 3px solid #83B3D3; используются тени для того что бы контент не уезжал*/
	outline: none;
	box-shadow: 0 0 0 3px #83B3D3;
}
.buttom_brown_div:active{
	background: #615048;
	color: rgba(255, 255, 255, 0.3);
}
/*-------------------Рассылка-----------------*/
.subscribe {
	background-image: url("../img/background2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	background-color: darkcyan;
	padding: 94px 0px;
	flex-grow: 1;
}
.subscribe .h2_p {
	margin-block-start: 0px;
	margin-block-end: 46px;
	color: white;
}

.subscribe .h2 {
	margin-block-start: 0px;
	margin-block-end: 29px;
}

.email {
	display: flex; /*схлопывает input и button*/
	align-content: center;
	justify-content: center;
	width: 98%;
}

.email input[type="email"] {
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 26px;
	color: #000000;
	background: #F2F2F2;
	border: none;
	border-radius: 10px 0px 0px 10px;
	height: 60px;
	padding: 0px 22px 0px 19px;
	cursor: default;
	max-width: 600px;
	flex-grow: 1;
	margin-right: 0px;
	box-sizing: border-box;
}

.email input[type="email"]:hover {
	background: #E6E6E6;
}

.email input[type="email"]:focus {
	background: #E6E6E6;
	outline: none;
	box-shadow: 0 0 0 3px #83B3D3;
}

.email input[type="email"]:focus:invalid {
	background: #FFFFFF;
	/*border: 2px solid #FF5757;*/
	outline: none;
	box-shadow:	0 0 0 3px #83B3D3,	inset 0 0 0 2px #FF5757;
}


.email input[type="email"]:focus:valid {
	background: #FFFFFF;
	outline: none;

}

.email button[type="submit"] {
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	background: #83B3D3;
	border: none;
	border-radius: 0px 10px 10px 0px;
	height: 60px;
	min-width: 200px;
	margin-left: 0px;
	flex-shrink:0;
	padding: 0;
	outline: none;
}

.email button[type="submit"]:hover {
	background: #68A2CA;
}

.email button[type="submit"]:focus {
	background: #68A2CA;
	outline: none;
	box-shadow: 0 0 0 3px #756257;
}

.email button[type="submit"]:active {
	background: #68A2CA;
	color: rgba(255, 255, 255, 0.3);
}




/*-------- ФУТЕР --------*/
.main-footer {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
	flex-direction: row;
	padding: 25px 0px;
}

/*-------------Соцсети------------*/
.social {
	flex: 0 1 160px;
}
.social_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.social_item {
	margin: 2px;
}
.social_item_link{	 
	border-radius: 10px;
	width: 40px;
	height: 40px;
	position: relative;
	display: block;
}
.social_item_link svg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	fill: #83B3D3;	
}

.social_item_link:hover svg {
	fill: #68A2CA;	
}

.social_item_link:focus {
	box-shadow: inset 0 0 0 3px #83B3D3;
	outline: none;
}
.social_item_link:focus svg {
	fill: #68A2CA;	
}

.social_item_link:active svg{
	fill: #68A2CA;
	opacity: 0.3;
}

/*---------------Контакты----------------*/
.contacts{
	flex: 0 1 720px;
}
.contacts_phone {
	font-size: 40px;
	line-height: 40px;
	color: #000000;
	font-style: normal;
	text-decoration: none;
	text-align: center;
	padding: 15px;
	border-radius: 10px;
}
.contacts_phone:hover {
	color: #756257;
}
.contacts_phone:focus {
	color: #756257;
	box-shadow: inset 0 0 0 3px #83B3D3;
	outline: none;
}
.contacts_phone:active {
	color: #756257;
	opacity: 0.3;
}
/*------------Логотип htmlacademy-----------*/
.htmlacademy_logo {
	flex: 0 1 160px;
}
.htmlacademy_logo_link { 
	display: block;
	border-radius: 10px;
	position: relative;
	width: inherit;
	height: 70px;
}
.htmlacademy_logo_link svg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	fill: #000000;	
}

.htmlacademy_logo_link:hover svg{
	fill: #756257;
}

.htmlacademy_logo_link:focus {
	box-shadow: inset 0 0 0 3px #83B3D3;
	outline: none;
}
.htmlacademy_logo_link:focus svg{
	fill: #756257;
}

.htmlacademy_logo_link:active svg{
	fill: #756257;
	opacity: 0.3;
}